body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    font-style: normal; 
}

p {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.MainNav {
    color: #fff;
    background-color: rgba(0, 0, 0, .85);
}

.NavItem {
    list-style-type: none;
}

.NavHome {
    border-right: 1px #CC3366 solid;
    width: 100%;
}

.NavAbout {
    border-right: 1px #CC3366 solid;
    width: 100%;
}

.NavProducts {
    border-right: 1px #CC3366 solid;
    width: 100%;
}

.NavContact {
    border-right: 1px #CC3366 solid;
    width: 100%;
}

.NavFiverr {
    width: 100%;
}

.Tint {
    opacity: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .75);
    color: white;
}

div.BoardsTint:hover {
    opacity: 1;
}

.CalligraphyTint:hover {
    opacity: 1;
}

.IconsTint:hover {
    opacity: 1;
}

.GraficsTint:hover {
    opacity: 1;
}

.ArtTint:hover {
    opacity: 1;
}

.ThreeDTint:hover {
    opacity: 1;
}

.Fat {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 35px;
    font-weight: bolder;
}

.Skinny {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 35px;
    font-weight: 100;
}

.TintText {
    text-decoration: underline;
}

.Highlights {
    background-color: black;
    color: #CC3366;
}

Footer {
    background-color: black;
}

.FooterR {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: end;
    display: grid;
    align-items: center;
}